#star {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

#loader {
  position: fixed;
  left: 50vw;
  top: calc(var(--vh, 1vh) * 50);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  opacity: 0;
  transition: 0.25s ease-out;
  white-space: pre;
}

/* #nav {
  transform: translate(0, -50%);
  text-align: right;
  top: calc(var(--vh, 1vh) * 50);
} */

#nav {
  position: fixed;
  left: 75vw;
  margin: 0;
  padding: 25px;
  width: calc(25vw - 50px);
  height: calc((var(--vh, 1vh) * 100) - 50px);;
  z-index: 3;
  opacity: 0;
  word-wrap: break-word;
  transition: 0.25s ease-out;
}

#works {
  position: absolute;
  top: 0;
}

#welcome {
  position: absolute;
  top: calc(50% - 1em);
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

#links {
  position: absolute;
  bottom: 0;
}

#works li:first-child, #links li:first-child {
  text-transform: uppercase;
}

#medias {
  margin: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.25s ease-out;
}

.media {
  width: calc(25vw - 25px);
}

img{
  width: calc(25vw - 25px);
  vertical-align: top;
}

video {
  width: calc(25vw - 25px);
  vertical-align: top;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: yellow;
  opacity: 0;
  transition: 0.25s ease-out;
}

.overlay .name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: underline wavy 0.1vw;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.1vw;
  color: yellow;
  transition: 0.25s ease-out;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay .name {
  color: black;
}

.overlay .name:hover {
  text-decoration: none;
}

@media (max-width: 750px) {
  #prev {
    left: -25vw;
  }

  #next {
    right: -25vw;
  }

  #nav {
    left: calc(65vw - 25px);
    width: calc(35vw - 25px);
  }

  /* .overflowlist {
    position: fixed;
    right: calc(100vw + 25px);
    text-align: right;
  } */

  .media {
    width: calc(65vw - 50px);
  }

  img {
    width: calc(65vw - 50px);
  }

  video {
    width: calc(65vw - 50px);
  }
}