#star {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

#loader {
  position: fixed;
  left: 50vw;
  top: calc(var(--vh, 1vh) * 50);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  opacity: 0;
  transition: 0.25s ease-out;
  white-space: pre;
}

#nav {
  position: fixed;
  left: 75vw;
  margin: 0;
  padding: 25px;
  width: calc(25vw - 50px);
  height: calc((var(--vh, 1vh) * 100) - 50px);
  z-index: 3;
  opacity: 0;
  word-wrap: break-word;
  transition: 0.25s ease-out;
}

#works {
  position: absolute;
  top: 1em;
  width: inherit;
}

#welcome {
  position: absolute;
  top: calc(50% - 1em);
  left: 50%;
  padding: calc(25px + 1em) 25px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
}

#links {
  position: absolute;
  bottom: 1em;
  width: inherit;
}

#works li:first-child,
#links li:first-child {
  text-transform: uppercase;
  display: block;
}

#works li,
#links li {
  display: inline-block;
  margin: -0.5em 0;
}

#medias {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  overflow-x: hidden;
  transition: 0.25s ease-out;
}

#banner a {
  position: relative;
  top: 25px;
  left: 25px;
  text-decoration: none;
}

.bannerbox {
  width: calc(75vw - 75px);
  height: calc(25vw - 75px + 4.5em);
  padding: 25px;
  margin-bottom: 25px;
  background-color: yellow;
}

/* .bannerbox a {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 0 0.5em 0;
  margin: 0;
} */

.bannerbox .name {
  text-align: center;
  padding: 0 0 0.5em 0;
  text-decoration: underline wavy 0.1vw;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.1vw;
}

.bannerbox .name:hover {
  text-decoration: none;
}

.bannerscroll {
  position: relative;
  width: calc(100% + 50px);
  height: calc(25vw - 75px + 25px + 1em);
  left: -25px;
  overflow: hidden;
}

.bannermedias {
  white-space: nowrap;
  vertical-align: top;
  font-size: 0;
  /* font-size removes whitespace gap for inline element inside */
  position: relative;
}

.bannermedias img {
  width: auto;
  height: calc(25vw - 75px);
  margin-right: 25px;
}

.bannermedias:first-child {
  margin-left: 25px;
  animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
  from {
    left: -25px;
  }

  to {
    left: calc(-100vw + 175px);
  }
}

/* .bannerbox:hover .name {
  text-decoration: underline wavy 0.1vw;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.1vw;
}

.bannerbox .name:hover {
  text-decoration: none;
} */

/* .bannerbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(75vw - 25px);
  height: calc(25vw - 25px + 4.5em);
  background-color: yellow;
  opacity: 0;
  transition: 0.25s ease-out;
} */

/* .bannerbox:hover .overlay {
  opacity: 1;
} */

.gridbox {
  width: calc(25vw - 25px);
}

.gridbox img {
  width: calc(25vw - 25px);
  vertical-align: top;
}

.gridbox video {
  width: calc(25vw - 25px);
  vertical-align: top;
}

.gridbox .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: yellow;
  opacity: 0;
  transition: 0.25s ease-out;
}

.gridbox .overlay .name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: underline wavy 0.1vw;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.1vw;
  color: yellow;
  transition: 0.25s ease-out;
}

.gridbox:hover .overlay {
  opacity: 1;
}

.gridbox:hover .overlay .name {
  color: black;
}

.overlay .name:hover {
  text-decoration: none;
}

@media (max-width: 750px) {
  #prev {
    left: -25vw;
  }

  #next {
    right: -25vw;
  }

  #nav {
    left: 65vw;
    width: calc(35vw - 50px);
  }

  .bannerbox {
    width: calc(65vw - 75px);
    height: calc(65vw - 75px + 4.5em);
  }

  .bannerbox .name {
    text-decoration: underline wavy 0.2vw;
    text-decoration-thickness: 0.2vw;
  }

  .bannerscroll {
    height: calc(65vw - 75px + 25px + 1em);
  }

  .bannermedias img {
    height: calc(65vw - 75px);
  }

  @keyframes bannermove {
    0% {
      left: -25px;
    }

    100% {
      left: calc(-260vw + 175px);
    }
  }

  .gridbox {
    width: calc(65vw - 25px);
  }

  .gridbox img {
    width: calc(65vw - 25px);
  }

  .gridbox video {
    width: calc(65vw - 25px);
  }

  .gridbox .overlay .name {
    text-decoration: underline wavy 0.2vw;
    text-decoration-thickness: 0.2vw;
  }
}

@media (max-width: 750px) and (max-height: 500px) {
  .bannerbox {
    height: calc(32.5vw - 75px + 4.5em);
  }

  .bannerbox .name {
    text-decoration: underline wavy 0.1vw;
    text-decoration-thickness: 0.1vw;
  }

  .bannerscroll {
    height: calc(32.5vw - 75px + 25px + 1em);
  }

  .bannermedias img {
    height: calc(32.5vw - 75px);
  }

  @keyframes bannermove {
    0% {
      left: -25px;
    }

    100% {
      left: calc(-130vw + 175px);
    }
  }

  .gridbox {
    width: calc(32.5vw - 25px);
  }

  .gridbox img {
    width: calc(32.5vw - 25px);
  }

  .gridbox video {
    width: calc(32.5vw - 25px);
  }

  .gridbox .overlay .name {
    text-decoration: underline wavy 0.1vw;
    text-decoration-thickness: 0.1vw;
  }
}