body {
  background: yellow;
  font-family: monospace;
  margin: 0;
}

p,
h1,
h2,
h3,
a {
  font-size: 1em;
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: black;
}

.nav {
  position: fixed;
  z-index: 3;
}

.nav #left {
  margin: 0;
  padding: calc(25px + 1em) 25px;
  position: fixed;
  width: calc((100vw / 3) - 50px);
  bottom: 0;
  text-align: left;
}

.nav #middle {
  margin: 0;
  padding: calc(25px + 1em) 25px;
  position: fixed;
  width: calc((100vw / 3) - 50px);
  bottom: 0;
  left: calc(100vw / 3);
  text-align: center;
}

.nav #right {
  margin: 0;
  padding: calc(25px + 1em) 25px;
  position: fixed;
  width: calc((100vw / 3) - 50px);
  bottom: 0;
  right: 0;
  text-align: right;
}
