.nav {
  position: fixed;
  z-index: 2;
}

.nav #left {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.nav #middle {
  position: fixed;
  left: 50vw;
  bottom: 25px;
  transform: translate(-50%);
}

.nav #right {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
