.blocks {
  z-index: 1;
}

.blocks h1 {
  font-size: 1em;
  font-weight: lighter;
}

.blockContent {
  padding: 25px;
  display: inline-block;
}

#block1 {
  position: fixed;
  width: 35vw;
  height: calc(var(--vh, 1vh) * 50);
  background: orange;
  overflow: scroll;
}

#block2 {
  position: fixed;
  top: calc(var(--vh, 1vh) * 50);
  width: 35vw;
  height: calc(var(--vh, 1vh) * 50);
  background: lightskyblue;
  overflow: scroll;
}

#block2 .links {
  display: none;
}

#block2 .blockContent {
  padding-bottom: calc(51px + 3em);
}

#block3 {
  position: fixed;
  left: 35vw;
  width: 65vw;
  height: calc(var(--vh, 1vh) * 100);
  background: lightyellow;
  overflow: scroll;
}

#block3 img {
  width: 100%;
}

#block3 .media {
  display: none;
}

#block3 #img0 {
  display: inline-block;
}

#block3 .blockContent {
  padding-bottom: calc(51px + 3em);
}

#img {
  text-align: right;
}

@media (max-width:750px) {
  #block1 {
    width: 50vw;
    height: calc(var(--vh, 1vh) * 35);
    overflow: scroll;
  }

  #block2 {
    top: 0;
    left: 50vw;
    width: 50vw;
    height: calc(var(--vh, 1vh) * 35);
    overflow: scroll;
  }

  #block2 .blockContent {
    padding-bottom: 25px;
  }

  #block3 {
    left: 0;
    top: calc(var(--vh, 1vh) * 35);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 65);
    overflow: scroll;
  }
}
