.blocks {
  z-index: 1;
}

.blocks h1 {
  font-size: 1em;
  font-weight: lighter;
}

.blockContent {
  padding: 25px;
  display: inline-block;
}

#block1 {
  position: fixed;
  width: 75vw;
  height: calc(var(--vh, 1vh) * 100);
  border: 0;
  overflow: scroll;
}

#block1 img,
video {
  max-width: 50vw;
  max-height: calc(var(--vh, 1vh) * 75);
  position: fixed;
  top: calc(var(--vh, 1vh) * 50);
  left: 37.5vw;
  transform: translate(-50%, -50%);
}

#block1 #rect {
  width: 50vw;
  position: fixed;
  top: calc(var(--vh, 1vh) * 50);
  left: 37.5vw;
  transform: translate(-50%, -50%);
  border: 0;
  text-align: center;
}

#block1 #sq {
  width: 50vw;
  height: 50vw;
  position: fixed;
  top: calc(var(--vh, 1vh) * 50);
  left: 37.5vw;
  transform: translate(-50%, -50%);
  border: 0;
}

#block1 .media {
  display: none;
}

#block1 #prev {
  margin: 0;
  position: absolute;
  left: 25px;
  top: calc(var(--vh, 1vh) * 50);
  transform: translate(0, -50%);
}

#block1 #next {
  margin: 0;
  position: absolute;
  right: 25px;
  top: calc(var(--vh, 1vh) * 50);
  transform: translate(0, -50%);
}

#block2 {
  position: fixed;
  left: 75vw;
  width: 25vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: scroll;
}

#block2 .blockContent {
  padding-bottom: calc(50px + 1em);
}

@media (max-width:750px) {
  #block1 {
    top: calc(var(--vh, 1vh) * 35);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 65);
  }

  #block1 img,
  video {
    max-width: 75vw;
    max-height: calc(var(--vh, 1vh) * 50);
    top: calc(var(--vh, 1vh) * 67.5);
    left: 50vw;
  }

  #block1 #rect {
    width: 75vw;
    top: calc(var(--vh, 1vh) * 67.5);
    left: 50vw;
  }

  #block1 #sq {
    width: 75vw;
    height: 75vw;
    top: calc(var(--vh, 1vh) * 67.5);
    left: 50vw;
  }

  #block1 #prev {
    top: calc(var(--vh, 1vh) * 33.75);
  }

  #block1 #next {
    top: calc(var(--vh, 1vh) * 33.75);
  }

  #block2 {
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 35);
  }

  #block2 .blockContent {
    padding-bottom: 25px;
  }
}
