.blocks {
  z-index: 1;
}

.blockContent {
  padding: 25px;
  display: inline-block;
}

#block1 {
  position: fixed;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: violet;
  overflow: scroll;
}

#block2 {
  position: fixed;
  left: 50vw;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 65);
  background-color: greenyellow;
  overflow: scroll;
}

#block3 {
  position: fixed;
  left: 50vw;
  top: calc(var(--vh, 1vh) * 65);
  width: 50vw;
  height: calc(var(--vh, 1vh) * 35);
  background-color: lightcyan;
  overflow: scroll;
}

@media (max-width:750px) {
  #block1 {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 50);
  }

  #block2 {
    left: 0;
    top: calc(var(--vh, 1vh) * 50);
    width: 65vw;
    height: calc(var(--vh, 1vh) * 50);
  }

  #block3 {
    left: 65vw;
    top: calc(var(--vh, 1vh) * 50);
    width: 35vw;
    height: calc(var(--vh, 1vh) * 50);
  }
}
