.blocks {
  z-index: 1;
}

.blockContent {
  padding: 25px;
  display: inline-block;
}

#block1 {
  position: fixed;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: GhostWhite;
  overflow: scroll;
}

#block2 {
  position: fixed;
  left: 50vw;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 60);
  background-color: GreenYellow;
  overflow: scroll;
}

#block3 {
  position: fixed;
  left: 50vw;
  top: calc(var(--vh, 1vh) * 60);
  width: 50vw;
  height: calc(var(--vh, 1vh) * 40);
  background-color: BlanchedAlmond;
  overflow: scroll;
}

#block3 .blockContent {
  padding-bottom: calc(50px + 1em);
}

@media (max-width:750px) {
  #block1 {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 50);
  }

  #block1 .blockContent {
    padding-bottom: 25px;
  }

  #block2 {
    left: 0;
    top: calc(var(--vh, 1vh) * 50);
    width: 60vw;
    height: calc(var(--vh, 1vh) * 50);
  }

  #block2 .blockContent {
    padding-bottom: calc(50px + 1em);
  }

  #block3 {
    left: 60vw;
    top: calc(var(--vh, 1vh) * 50);
    width: 40vw;
    height: calc(var(--vh, 1vh) * 50);
  }
}
